@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@400;500&display=swap');

a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}

:root {
  --primary-color: #095add;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
  margin: 0rem;
  box-sizing: border-box;
  background-color: rgb(198, 232, 245);
}

hr{
  margin: 0rem;
  margin-bottom: 2.5rem;
  width:auto ;
  border-color: #095add;
}

/* CONTAINER */
.container {
  margin: 4rem auto 7rem;
  text-align: center;
}

.heading {
  font-family:'Raleway', sans-serif;
  color: var(--primary-color);
}

.description {
  font-size: larger;
  margin: 1rem;
  margin-bottom: 4rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  width: 100%;
  max-width: 258px;
  border-radius: 1.7rem;
}

#check-button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  box-shadow: #0063d5 0.1rem 0.1rem 1rem 0rem;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#emessage {
  display: block;
  font-size: large;
  margin: auto;
  width: auto;
  box-sizing: border-box;
  border-radius: 2rem;
  margin-top: 2.5rem;
  padding: 1rem;
  font-weight: bold;

}

/* TABLE */


.change-table {
  background-color: #e7eff9;
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2.7px solid var(--primary-color);
  width: 0rem;
  border-collapse: collapse;
  padding: 1rem;
}

/* FOOTER */

footer {
  text-align: center;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
}

img {
  width: 2.5rem;
  padding: 0.2rem;
}
